@import "tailwindcss";

.repo-language-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
}

.language-javascript {
    background-color: #f1e05a;
}

.language-typescript {
    background-color: #3178c6;
}

.language-python {
    background-color: #3572a5;
}

.language-java {
    background-color: #b07219;
}

.language-html {
    background-color: #e34c26;
}

.language-css {
    background-color: #563d7c;
}

.language-ruby {
    background-color: #701516;
}

.language-go {
    background-color: #00add8;
}

.language-rust {
    background-color: #dea584;
}

.language-php {
    background-color: #4f5d95;
}

.language-c {
    background-color: #555555;
}

.language-csharp {
    background-color: #178600;
}

.language-cpp {
    background-color: #f34b7d;
}

.language-shell {
    background-color: #89e051;
}

.language-swift {
    background-color: #ffac45;
}

.language-kotlin {
    background-color: #a97bff;
}

.language-dart {
    background-color: #00b4ab;
}

.language-vue {
    background-color: #41b883;
}